body {
    font-family: Arial, sans-serif;
    background: white;
}
.pokemon-card {
    background: #f9f9f9;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    color: black;
}
.type {
    display: inline-block;
    padding: 2px 6px;
    margin-right: 5px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
}
.type-grass { background: #78C850; }
.type-poison { background: #A040A0; }
.type-fire { background: #F08030; }
.type-water { background: #6890F0; }
.type-electric { background: #F8D030; color: black; }
.type-ice { background: #98D8D8; color: black; }
.type-fighting { background: #C03028; }
.type-ground { background: #E0C068; color: black; }
.type-flying { background: #A890F0; }
.type-psychic { background: #F85888; }
.type-bug { background: #A8B820; color: black; }
.type-rock { background: #B8A038; color: black; }
.type-ghost { background: #705898; }
.type-dragon { background: #7038F8; }
.type-dark { background: #705848; }
.type-steel { background: #B8B8D0; color: black; }
.type-fairy { background: #EE99AC; color: black; }
.type-normal { background: #A8A878; color: black; }